/* Set Open Sans Font*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap");

body {
  margin: 0;
  padding: 0;
}

text {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #eff9fb;
}

.fullGrid {
  display: grid;
  justify-content: center;
  grid-template-columns: 60vw 30vw;
  grid-gap: 2vw;
}

.headerBar {
  width: 100vw;
  height: 80px;
  background-color: #3c5a68;
}

.headerFont {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: xx-large;
}

.labeler {  
  font-weight: 600;
  color: #eff9fb;
  display: inline-block;
  padding-top: 20px;
}


.title {
  color: #eff9fb;
  display: inline-block;
  padding-top: 20px;
}


.labelHead {
  color: #3c5a68;
}


.sampleTray > img {
  margin: auto;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.sampleGrid {
  grid-template-rows: 80vh;
  width: 100vw;
  height: 100vh;
  background-color: #3c5a68;
}

.labels {
  position: relative;
  background-color: #eff9fb;
  padding: 20px;
}

.sampleID {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: large;
  color: #eff9fb;
  display: inline-block;
}



.sampleGrid > .sampleTray {
  padding: 10px;
  display: inline-block;
  max-height: fit-content;
  max-width: fit-content;
}


// Action Button Classes
.navigationButtons {
  position: absolute;
  left: 50%;
  bottom: 0px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 90%;
  height: 180px;
}

.buttonFont {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: large;
  color: #eff9fb;
}

.submitChoice {
  background-color: #70ae6e;

  position: absolute;
  top: 30px;
  right: 0px;

  width: calc(50% - 10px);
  height: 56px;
  padding: 16px;
  border: none;
}
.submitChoice:hover {
  background-color: #40943d;
}


.skipChoice {
  background-color: #CF995F;



  position: absolute;
  top: 30px;
  left: 0px;

  width: calc(50% - 10px);
  height: 56px;
  padding: 16px;
  border: none;
}
.skipChoice:hover {
  background-color: #ac7337;
}

.obstructed {
  background-color: #e9806e;

  position: absolute;
  bottom: 20px;
  
  width: 100%;
  height: 56px;
  padding: 8px;
  border: none;
}
.obstructed:hover {
  background-color: #b94e3b;
}



// Response Messages
.err {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: medium;
  color: #e9806e;

  position: absolute;
  bottom: 30px;
  right: 30px;
}

.status {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: large;
  color: #70ae6e;

  position: absolute;
  bottom: 30px;
  right: 30px;
}


// Radio Classes
.radioBox {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 98%;
  height: 60px;
  border-bottom: 1px solid #598397;
}

.radioTitle {
  color: #3c5a68;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: large;
  position: relative;
  top: 30px;
  float: left;
}

.radioOpt {
  color: #3c5a68;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: medium;
  position: relative;
  float: right;
  margin-top: 30px;
}


// FOR EXAMPLES PAGE
.imgGrid {
  background-color: #3c5a68;
  display: grid;
  justify-content: center;
  grid-template-columns: 40vw 40vw;
  grid-template-rows: 30vw 30vw 30vw;
  grid-gap: 10vw;
}

.imgGrid > div {
  padding: 5px;
}

.imgGrid > div > img {
  max-width: 100%; 
}

.imgGrid > div > text {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: xx-large;
  color: #eff9fb;
}